In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [12]:
players = pd.read_csv('../../data/players_scraped.csv')
players_with_dob = pd.read_csv('../../data/players.csv')
clubs = pd.read_csv('../../data/club_data_scraped_new.csv')
injuries = pd.read_csv('../../data/player_injuries_scraped.csv')
international = pd.read_csv('../../data/international_scraped.csv')

In [13]:
players.head()

,Player_id,Season,Games,PPG,Goals,Assists,Yellow_cards,Yellow_red_cards,Red_cards,Penalty_goals,Minutes_per_goal,Minutes_played,Club_id,Competition,MarketValue
0,10,2004,45,1.60,17,11,4,0,0,0,110.0,3244,86,Bundesliga,12000000
1,10,2005,40,1.70,31,17,5,1,0,1,115.0,3313,86,Bundesliga,30000000
2,10,2006,47,1.63,15,19,0,1,0,0,93.0,4003,86,Bundesliga,23000000
3,10,2007,47,2.40,21,12,2,0,0,0,158.0,3450,27,Bundesliga,20000000
4,10,2008,38,2.25,20,10,3,0,0,2,132.0,2884,27,Bundesliga,18000000

In [14]:
# add the age
players_with_dob['date_of_birth'] = pd.to_datetime(players_with_dob['date_of_birth'])
players = pd.merge(players, players_with_dob[['player_id', 'name', 'date_of_birth']], left_on='Player_id', right_on='player_id', how='left')
players['age'] = players.Season - players.date_of_birth.dt.year

In [15]:
df = pd.merge(players, injuries, left_on=['Player_id', 'Season'], right_on=['player_id', 'Season'], how='left')

In [16]:
df = pd.merge(df, international, left_on='Player_id', right_on='player_id', how='left')

In [17]:
df = pd.merge(df, clubs, left_on=['Club_id', 'Season'], right_on=['club_id', 'Season'], how='inner')

In [18]:
cols_to_drop = ['player_id_x', 'player_id_y', 'player_id', 'club_id', 'date_of_birth']
cols_to_rename = {'Days': 'Days_injured'}
df = df.rename(columns=cols_to_rename)
df = df.drop(columns=cols_to_drop)

In [19]:
# replace True with 1 for international, False with 0
df['international'] = df['international'].replace({True: 1, False: 0})

dtype('int64')

In [20]:
# fill in missing Days with 0
df['Days_injured'] = df['Days_injured'].fillna(0)
df = df.dropna()

In [21]:
df.to_csv('../../data/dataset.csv', index=False)
df.head()

,Player_id,Season,Games,PPG,Goals,Assists,Yellow_cards,Yellow_red_cards,Red_cards,Penalty_goals,Minutes_per_goal,Minutes_played,Club_id,Competition,MarketValue,name,age,Days_injured,international,Liga,Liga_level,W,D,L,Points,Goales_scored,Goales_conceded
0,10,2004,45,1.60,17,11,4,0,0,0,110.0,3244,86,Bundesliga,12000000,Miroslav Klose,26.0,0.0,1,Bundesliga,First Tier,18,5,11,59,68,37
2,690,2004,41,1.80,19,14,5,0,0,0,136.0,3001,86,Bundesliga,7500000,Ivan Klasnic,24.0,0.0,1,Bundesliga,First Tier,18,5,11,59,68,37
3,4316,2004,35,1.74,1,0,2,0,0,0,478.0,2985,86,Bundesliga,4500000,Petri Pasanen,24.0,0.0,1,Bundesliga,First Tier,18,5,11,59,68,37
4,4403,2004,28,1.82,3,6,4,0,0,0,130.0,1898,86,Bundesliga,4000000,Daniel Jensen,25.0,0.0,1,Bundesliga,First Tier,18,5,11,59,68,37
5,10,2005,40,1.70,31,17,5,1,0,1,115.0,3313,86,Bundesliga,30000000,Miroslav Klose,27.0,0.0,1,Bundesliga,First Tier,21,7,6,70,79,37