In [98]:
import pandas as pd

df_players = pd.read_csv("./archive/players.csv")

df_games = pd.read_csv("./archive/games.csv")
df_appearances = pd.read_csv("./archive/appearances.csv")
df_val = pd.read_csv("./archive/player_valuations.csv")

In [101]:
len(df_players)

# df_appearances['player_id'].nunique()
df_val['player_id'].nunique()

27246

In [81]:
df_games = df_games.drop(['aggregate','club_home_name','club_away_name','home_club_manager_name','away_club_manager_name','stadium','attendance','referee','url', 'competition_id'], axis=1)
df_appearances = df_appearances.drop(['player_club_id','player_current_club_id','date'], axis=1)

In [82]:
df_app_2 = df_appearances.filter(['game_id', 'player_id', 'goals', 'assists', 'player_name'])
df_games_2 = df_games.filter(['game_id', 'season'])
print(df_app_2)
print(df_games_2)

         game_id  player_id  goals  assists           player_name
0        2483937      52453      0        0         Haris Handzic
1        2479929      67064      0        0  Felicio Brown Forbes
2        2483937      67064      0        0  Felicio Brown Forbes
3        2484582      67064      0        0  Felicio Brown Forbes
4        2485965      67064      0        0  Felicio Brown Forbes
...          ...        ...    ...      ...                   ...
1118795  3886290       7663      0        0               Joaquín
1118796  3886328       7663      0        1               Joaquín
1118797  3886335       7663      0        0               Joaquín
1118798  3886364       7663      0        0               Joaquín
1118799  3886468       7663      0        0               Joaquín

[1118800 rows x 5 columns]
       game_id  season
0      2229332    2012
1      2244388    2012
2      2269557    2012
3      2254432    2012
4      2221759    2012
...        ...     ...
59928  3901629    2022
59929  3901635    2022
59930  3901633    2022
59931  3901625    2022
59932  3901639    2022

[59933 rows x 2 columns]

In [95]:
joined2 = df_app_2.join(df_games_2.set_index('game_id'), on='game_id', how='outer')

joined2

        game_id  player_id  goals  assists           player_name  season
0.0     2483937    52453.0    0.0      0.0         Haris Handzic  2014.0
2.0     2483937    67064.0    0.0      0.0  Felicio Brown Forbes  2014.0
1041.0  2483937    97205.0    0.0      0.0   Nikita Bezlikhotnov  2014.0
8892.0  2483937   111667.0    1.0      0.0              Marcinho  2014.0
8909.0  2483937   183646.0    0.0      0.0                 Diego  2014.0
...         ...        ...    ...      ...                   ...     ...
NaN     3901631        NaN    NaN      NaN                   NaN  2022.0
NaN     3901577        NaN    NaN      NaN                   NaN  2022.0
NaN     3901635        NaN    NaN      NaN                   NaN  2022.0
NaN     3901633        NaN    NaN      NaN                   NaN  2022.0
NaN     3901625        NaN    NaN      NaN                   NaN  2022.0

[1135025 rows x 6 columns]

In [88]:
sum_df = joined2.groupby(['player_id','season', 'player_name']).agg({'goals': 'sum', 'assists': 'sum'})
sum_df.sort_values(by = 'goals', ascending=False)

                                      goals  assists
player_id season player_name
8198      2014.0 Cristiano Ronaldo       61       23
44352     2015.0 Luis Suárez             59       23
28003     2014.0 Lionel Messi            58       31
          2016.0 Lionel Messi            54       20
38253     2020.0 Robert Lewandowski      52       13
...                                     ...      ...
153537    2019.0 Nicolás Vélez            0        0
153538    2015.0 André Bjerregaard        0        1
153555    2020.0 Sebastian Griesbeck      0        1
153582    2013.0 Alexander Scholz         0        0
1059630   2022.0 Vitaliy Mykhayliv        0        0

[61621 rows x 2 columns]

In [86]:
joined = df_appearances.join(df_games.set_index('game_id'), on='game_id')

joined

,appearance_id,game_id,player_id,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played,competition_type,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,away_club_position
0,2483937_52453,2483937,52453,Haris Handzic,RU1,0,0,0,0,90,domestic_league,2014.0,2. Matchday,2014-08-08,4128.0,28095.0,0.0,1.0,14.0,9.0
1,2479929_67064,2479929,67064,Felicio Brown Forbes,RU1,0,0,0,0,90,domestic_league,2014.0,1. Matchday,2014-08-03,2439.0,28095.0,2.0,0.0,6.0,11.0
2,2483937_67064,2483937,67064,Felicio Brown Forbes,RU1,0,0,0,0,90,domestic_league,2014.0,2. Matchday,2014-08-08,4128.0,28095.0,0.0,1.0,14.0,9.0
3,2484582_67064,2484582,67064,Felicio Brown Forbes,RU1,0,0,0,0,55,domestic_league,2014.0,3. Matchday,2014-08-13,28095.0,121.0,0.0,2.0,10.0,4.0
4,2485965_67064,2485965,67064,Felicio Brown Forbes,RU1,0,0,0,0,90,domestic_league,2014.0,4. Matchday,2014-08-16,964.0,28095.0,1.0,0.0,1.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118795,3886290_7663,3886290,7663,Joaquín,ES1,0,0,0,0,18,domestic_league,2022.0,7. Matchday,2022-10-02,940.0,150.0,1.0,0.0,11.0,4.0
1118796,3886328_7663,3886328,7663,Joaquín,ES1,0,0,0,1,27,domestic_league,2022.0,9. Matchday,2022-10-16,150.0,3302.0,3.0,1.0,4.0,18.0
1118797,3886335_7663,3886335,7663,Joaquín,ES1,0,0,0,0,68,domestic_league,2022.0,10. Matchday,2022-10-19,2687.0,150.0,0.0,0.0,19.0,5.0
1118798,3886364_7663,3886364,7663,Joaquín,ES1,0,0,0,0,25,domestic_league,2022.0,11. Matchday,2022-10-23,150.0,13.0,1.0,2.0,5.0,3.0
1118799,3886468_7663,3886468,7663,Joaquín,ES1,1,0,0,0,5,domestic_league,2022.0,15. Matchday,2022-12-29,150.0,621.0,0.0,0.0,6.0,5.0

In [40]:
group_keys = lambda x: (x.goals,x.assists)
grouped = joined.groupby(group_keys)['goals', 'assists'].sum()

AttributeError: 'int' object has no attribute 'goals'